section{
background-color: aqua;
width: 300px;
height: 375px;
margin: auto;
display: block;
text-align: center;
padding-top: 20PX;
}

.btn{
    width: 75%;
    height: 7%;
    border: brown 1px solid ;
    background-color: antiquewhite;
    border-radius: 5px;
    font-size: 20px;
 


}

input[type=text] {
    width: 150px;
    height: 30px;
    transition: ease-in-out .35s ;
}

input[type=text]:focus {
    width: 250px;
    
}

ul li{
    background-color: cadetblue;
    padding-top: 10px;
    margin-top: 10px;
    width: 250;
color: midnightblue;
font-size: 20px;
}


